  /* UserNotesComponent's private CSS styles */
  .Privé { border-color:orange; }
  .Dringend { border-color: red; }
  .Common { border-color: green; }
  .Info { border-color: blue; }
  
  span.Privé { color: orange; }
  span.Dringend { color: red; }
  span.Common { color: green; }
  span.Info { color: blue; }

  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  .enabled {
    opacity: 1;
  }

  textarea {
  width: 600px;
  height: 200px;
  overflow: auto;
  
}

label {
    display: inline-block;
    width: 10em;
    margin: 10px 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    margin-top: 5px ;
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial;
    font-weight: bold;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }