/* Nav-Bar Component's private CSS styles */

.sidenav-container {
  height: 100%;
  background-color: rgb(243, 221, 202);
}

.sidenav {
  width: 200px;
  background-color: rgb(253, 205, 163);
}

.sidenav .mat-toolbar {
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  font-weight: bold;
}

.mat-nav-list a:hover {
  background-color: peru;
}

.home {
  margin-top: 50%;
  background-color: white;
}

button:hover {
  background-color: #cfd8dc;
}